extends layout.pug

block content
  main.page-content
    section.search-results
      h1.visually-hidden Результаты поиска
      div(class='search-results__wrapper')
        p(class='search-results__label') Найдено
          span.js-results 2 публикации
        ul(class='search-results__list')
          li(class='search-results__item')
            .ticket-card.ticket-card--color05
              div(class='ticket-card__img')
                img(src='/img/item05.jpg' srcset='/img/item05@2x.jpg 2x' alt='Изображение товара')
              div(class='ticket-card__info')
                span(class='ticket-card__label') ПРОДАМ
                div(class='ticket-card__categories')
                  a(href='#') Авто
                div(class='ticket-card__header')
                  h3(class='ticket-card__title')
                    a(href='#') Ленд Ровер
                  p(class='ticket-card__price')
                    span.js-sum 900 000
                    | ₽
                div(class='ticket-card__desc')
                  p Куплю монстеру зеленую в хорошем зеленом состоянии, буду поливать...
          li(class='search-results__item')
            .ticket-card.ticket-card--color16
              div(class='ticket-card__img')
                img(src='/img/item16.jpg' srcset='/img/item16@2x.jpg 2x' alt='Изображение товара')
              div(class='ticket-card__info')
                span(class='ticket-card__label') ПРОДАМ
                div(class='ticket-card__categories')
                  a(href='#') Авто
                div(class='ticket-card__header')
                  h3(class='ticket-card__title')
                    a(href='#') Хонда
                  p(class='ticket-card__price')
                    span.js-sum 100 000
                    | ₽
                div(class='ticket-card__desc')
                  p Куплю монстеру зеленую в хорошем зеленом состоянии, буду поливать...
    include partials/freshest.pug
